{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

        WELCOME TO DEMO SHOP , WE HAVE VERITY OF PRODUCTS

{% endblock %}
{% block title %}
    search
{% endblock %}
{% block content %}
<div>
    <p class="text-center my_search_text">YOU HAVE SEARCHED FOR :<B>"{{query}}"</B></p>
</div>
<div class="container">
    <div class="row mx_auto">
        {% for product in products %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center" style="  margin:0 auto;
  padding:1.5em;
  width:80%;
  max-width:350px;
  height:100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border-radius:13px;
  overflow:hidden;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
            <div class="card-body">
                <h4>{{product.name}}</h4>
                <p>{{product.price}}</p>
            </div>
            </div>
        </div>
        {% empty %}
        <div class="row mx-auto">
            <p class="text-center my_search_text"> 0 results found</p>
        </div>
        {% endfor%}
    </div>
{% endblock %}